<div>
  <%= flash[:notice] %>
<div>
<br>
<div class="container">

  <div class="row">
    <div class="col-1"></div>
    <div class="col-2 text-center">
      <h4 class="bg-warning">商品編集</h4>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-2"></div>
        <%= form_with model: @item, url: admin_item_path(@item.id), method: :patch do |f| %>
         <table>
          <tr>
            <td height="40" style="font-size:15px">商品画像</td>
            <td style="font-size:15px"><%= f.file_field :image, accept: "image/*" %></td>
          </tr>

          <tr>
            <td height="40" style="font-size:15px">商品名</td>
            <td style="font-size:15px"><%= f.text_field :name, :size=>"35" %></td>
          </tr>

          <tr>
            <td height="40" class="d-flex align-items-start" style="font-size:15px">商品説明</td>
            <td style="font-size:15px"><%= f.text_area :introduction, :size=>"35x7" %></td>
          </tr>

          <tr>
            <td height="40" style="font-size:15px">税抜価格</td>
            <td style="font-size:15px"><%= f.text_field :price, :size=>"35" %>円</td>
          </tr>

          <td></td>
          <td class="text-center"><%= f.submit "変更を保存", class:"btn btn-success" %></td>

        </table>
       <% end %>

  </div>
</div>