<br>
<div class="container">

  <div class="row">
    <div class="col-md-6 col-sm-10">
      <h4 style="color: #800000">🌹Item Details🌹</h4>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-4 col-sm-10">
      <%= image_tag @item.get_image, size: "330x300" %>
    </div>
    <div class="col-md-7 col-sm-12">
     <table class="table table-borderless">
      <tr>
        <td width="150">商品名</td>
        <td width="600"><%= safe_join(@item.name.split("\n"),tag(:br)) %></td>
      </tr>
      <tr>
        <td class="d-flex align-items-start">商品説明</td>
        <td><%= safe_join(@item.introduction.split("\n"),tag(:br)) %></td>
      </tr>
      <tr>
        <td>税込価格<br><small>(税抜価格）</small></td>
        <td>¥<%= @item.add_tax_price.to_s(:delimited) %>
           <small>(¥<%= @item.price.to_s(:delimited) %>)</small>
        </td>
      </tr>
      <tr>
        <td><%= link_to "<Back", admin_root_path %></td>
        <td>
          <%= link_to edit_admin_item_path(@item.id) do %>
            <i class="fas fa-edit" style="color: #00bb85"></i>
            <small style="color: #00bb85">編集</small>
          <% end %>
        </td>
        <td width="300">
          <%= link_to admin_item_path(@item.id), method: :delete, "data-confirm" => "この投稿を削除しますか？" do %>
            <i class="fas fa-trash-alt" style="color: #ff7f7f;"></i>
            <small style="color: #ff7f7f;">削除</small>
         <% end %>
        </td>
      </tr>
    </table>
   </div>
  </div>
</div>