<br>
<div class="container">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
      <h4 style="color: #800000">🌹管理者ログイン🌹</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-2"></div>
    <%= form_with model: @admin, url: admin_session_path do |f| %>
      <table class="table table-borderless">
        <tr>
          <td><%= f.label :メールアドレス %></td>
          <td><%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com", :size=>"40"  %></td>
        </tr>
        <tr>
          <td><%= f.label :パスワード %></td>
          <td><%= f.password_field :password, autocomplete: "current-password", :size=>"40" %></td>
        </tr>
        <% if devise_mapping.rememberable? %>
          <tr>
            <td></td>
            <td>
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </td>
          </tr>
        <% end %>
        <tr>
          <td></td>
          <td><%= f.submit "ログイン", class:"btn btn-success" %></td>
        </tr>
      </table>
    <% end %>
    <%= render "admin/shared/links" %>
  </div>
</div>
