<br>
<div class="container">
  <div class="row">
    <div class="col-md-4 col-sm-10">
      <h4 style="color: #800000">🌹Item New🌹︎</h4>

      <br>
      <%= render 'layouts/error_messages', resource: @item %>

      <%= form_with model: @item, url: '/admin/items', method: :post do |f| %>
       <table class="table table-borderless">
        <tr>
          <td style="font-size:14px">商品画像</td>
          <td style="font-size:14px"><%= f.file_field :image, accept: "image/*" %></td>
        </tr>

        <tr>
          <td style="font-size:14px">商品名</td>
          <td style="font-size:14px"><%= f.text_field :name, placeholder: "商品名(20文字以内）", :size=>"20" %></td>
        </tr>

        <tr>
          <td style="font-size:14px ">商品説明</td>
          <td style="font-size:14px"><%= f.text_area :introduction, placeholder: "説明文を入力してください（50文字以内）",:size=>"20x7" %></td>
        </tr>

        <tr>
          <td style="font-size:14px ">税抜価格</td>
          <td style="font-size:14px"><%= f.text_field :price, placeholder: "1000", :size=>"20"%>円</td>
        </tr>

        <td></td>
        <td class="text-center"><%= f.submit "新規登録", class:"btn btn-success" %></td>
       </table>
      <% end %>
    </div>

    <div class="col-md-8 col-sm-12">
      <div>
        <h4 style="color: #800000">🌹Item List🌹︎</h4>
         <table class="table table-hover table-inverse">

          <% @items.each do |item| %>
            <tr>
              <td>
                <%= link_to admin_item_path(item.id) do %>
                   <%= image_tag item.get_image, size: "80x50" %>
                <% end %>
                <small><%= item.created_at.strftime("%Y/%m/%d") %></small>
              </td>
               <td>¥<%= item.add_tax_price.to_s(:delimited) %>
                <br>
                <small>(¥<%= item.price.to_s(:delimited) %>)</small>
              </td>
              <td><%= safe_join(item.name.split("\n"),tag(:br)) %></td>
              <td><%= safe_join(item.introduction.split("\n"),tag(:br)) %></td>
             </tr>
          <% end %>
        </table>
        <div class= "row">
          <div class="col-5"></div>
          <div class= "col-2 text-center">
            <div class="pagination">
              <%= paginate @items %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>