<br>
<div class="container">
  <div class="row">
    <div class="col-md-4 col-sm-10">
      <h4 class="bg-warning text-center">☆商品新規登録☆</h4>
      <br>
      <%= render 'layouts/error_messages', resource: @item %>
      <%= form_with model: @item, url: '/admin/items', method: :post do |f| %>
       <table class="table table-borderless">
        <tr>
          <td style="font-size:14px">商品画像</td>
          <td style="font-size:14px"><%= f.file_field :image, accept: "image/*" %></td>
        </tr>

        <tr>
          <td style="font-size:14px">商品名</td>
          <td style="font-size:14px"><%= f.text_field :name, placeholder: "商品名", :size=>"20" %></td>
        </tr>

        <tr>
          <td style="font-size:14px ">商品説明</td>
          <td style="font-size:14px"><%= f.text_area :introduction, placeholder: "ここに説明文を記述します",:size=>"20x7" %></td>
        </tr>

        <tr>
          <td style="font-size:14px ">税抜価格</td>
          <td style="font-size:14px"><%= f.text_field :price, placeholder: "1000", :size=>"20"%>円</td>
        </tr>

        <td></td>
        <td class="text-center"><%= f.submit "新規登録", class:"btn btn-success" %></td>
       </table>
      <% end %>
    </div>

    <div class="col-md-8 col-sm-12">
      <h4 class="font-weight-bold">☺︎新商品☺︎<small>（ECサイトTOPページ表示中商品：4件のみ）</small>︎</h4>

          <div class="item-wrap">
            <% @items_desc.each do |item| %>
              <span class="item-box font-weight-bold">
                <%= link_to admin_item_path(item.id) do %>
                  <% if item.image.present? %>
                    <%= image_tag item.image, size: "150x100" %>
                  <% else %>
                    <%= image_tag 'default-image.jpg', size: "150x100" %>
                  <% end %>
                <% end %>
                <div class="item-comment">
                  <span class="item-body"><%= item.created_at.strftime('%Y/%m/%d') %></span><br>
                  <span class="item-body"><%= item.name %></span><br>
                  <span class="item-body", style="font-size:12px"><%= item.introduction %></span><br>
                  <span class="item-title", style="font-size:12px">¥<%= item.price.to_s(:delimited) %></span>
                </div>
              </span>
            <% end %>
         </div>

         </br>

         <div>
           <h4>☺︎商品一覧☺︎</h4>
           <table class="table table-hover table-inverse">
            <tr style="background:#dad7d7;">
              <th width="150"></th>
              <th width="200">登録日</th>
              <th width="400">商品名</th>
              <th width="250">税込価格
                  </br>
                  <small>（税抜価格）</small>
              </th>
              <th width="600">商品説明</th>
            </tr>

            <% @items.each do |item| %>
              <tr>
                <td>
                  <%= link_to admin_item_path(item.id) do %>
                    <% if item.image.present? %>
                      <%= image_tag item.image, size: "80x50" %>
                    <% else %>
                      <%= image_tag 'default-image.jpg', size: "80x50" %>
                    <% end %>
                  <% end %>
                </td>
                <td><%= item.created_at.strftime("%Y/%m/%d") %></td>
                <td><%= item.name %></td>
                <td>¥<%= item.add_tax_price.to_s(:delimited) %>
                    </br>
                    <small>(¥<%= item.price.to_s(:delimited) %>)</small>
                </td>
                <td><%= item.introduction %></td>
               </tr>
            <% end %>
          </table>
          <%= paginate @items %>
        </div>

    </div>
  </div>
</div>