<%= render 'layouts/error_messages', resource: @post_image %>
<br>
  <div class="container">
    <div class="row-12">
      <div class="px-3 mr-auto">

        <div class="col-6">
          <h4 style="color: #800000">🌹PostEdit🌹</h4>
        </div>

        <%= form_with model: @post_image, url: admin_post_image_path(@post_image.id), method: :patch do |f| %>
          <table class="lb-5">
            <tr>
              <td width="20%" height="40">投稿画像</td>
              <td><%= f.file_field :image, accept: "image/*" %></td>
            </tr>
            <tr>
              <td width="20%" height="40">タイトル</td>
              <td><%= f.text_field :title %></td>
            </tr>
            <tr>
              <td class="align="left" valign="top"" width="20%" height="40">本文</td>
              <td><%= f.text_area :caption, :size=>"35x7" %></td>
            </tr>
            <tr>
              <td class="align="left" valign="top"" width="20%" height="40">公開設定</td>
              <td>
                <%= f.label :is_published_flag, "公開", value: false %>
                <%= f.radio_button :is_published_flag, false %> &nbsp;
                <%= f.label :is_published_flag, "非公開", value: true %>
                <%= f.radio_button :is_published_flag, true %>
              </td>
            </tr>
            <tr>
              <td width="20%" height="40"><%= link_to "<Back", admin_post_image_path(@post_image.id) %></td>
              <td><%= f.submit '保存', class:"btn btn-success" %></td>
            </tr>
          </table>
        <% end %>
    </div>
  </div>
</div>