<br>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-11">
      <h4 style="color: #800000">🌹︎<%= @user.last_name %><%= @user.first_name %>さん Profile🌹︎</h4>
      <br>
      <table class="table table-borderless">
        <tr>
          <td width="200"><%= image_tag @user.get_profile_image(80,80), class:"rounded-circle" %></td>
          <td>︎<%= link_to "︎フォロー︎", admin_user_followings_path(@user.id) %> <small><%= @user.followings.count %></small>&emsp;
              ︎<%= link_to "︎フォロワー︎", admin_user_followers_path(@user.id) %> <small> <%= @user.followers.count %></small>
          </td>
        </tr>
        <tr>
          <td width="200">会員ID</td>
          <td><%= @user.id %></td>
        </tr>
        <tr>
          <td width="200">氏名</td>
          <td><%= @user.last_name %> <%= @user.first_name %></td>
        </tr>
        <tr>
          <td width="200">フリガナ</td>
          <td><%= @user.last_name_kana %> <%= @user.first_name_kana %></td>
        </tr>
        <tr>
          <td width="200">プロフィール</td>
          <td><%= safe_join(@user.introduction.split("\n"),tag(:br)) %></td>
        </tr>
        <tr>
          <td width="200">メールアドレス</td>
          <td><%= @user.email %></td>
        </tr>
         <tr>
          <td width="200">電話番号</td>
          <td><%= @user.telephone_number %></td>
        </tr>
        <tr>
          <td width="200">会員ステータス</td>
          <td><% if @user.is_deleted == false %>
              有効
              <% else %>
              退会
              <% end %>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <%= link_to edit_admin_user_path(@user.id) do %>
              <i class="fas fa-user-edit" style="color: #00bb85"></i>
              <small style="color: #00bb85">編集</small>
            <% end %>
          </td>
        </tr>
      </table>
    </div>

    <div class="col-md-6">
      <h4 style="color: #800000">🌹PostList︎🌹︎</h4>
      <div class="post_images-wrap">
        <% @post_images.each do |post_image| %>
          <span class="post_images-box1 font-weight-bold">
            <%= link_to admin_post_image_path(post_image.id) do %>
              <%= image_tag post_image.get_image, size: "250x150" %>
            <% end %>
            </br>
            &emsp;
                ❤️<small><%= post_image.favorites.count %></small>
            <%= link_to admin_post_image_path(post_image.id) do %>
              💬<small><%= post_image.post_comments.count %></small>
            <% end %>
            👀<small><%= post_image.view_counts.count %></small>
            <small>
              <% if post_image.is_published_flag == false %>
                公開
              <% else %>
                非公開
              <% end %>
            </small>
            <div class="post_images-comment">
              <span class="post_image-body", style="font-size:12px"><%= post_image.created_at.strftime("%Y/%m/%d") %></span><br>
              <span class="post_image-body"><%= post_image.title %></span><br>
              <span class="post_image-body", style="font-size:12px"><%= post_image.caption %></span><br>
            </div>
          </span>
        <% end %>
    </div>
  </div>
</div>