<br>
<div class="container">
  <%= render 'layouts/error_messages', resource: @new_post_image %>
  <div class="row">
    <div class="col-md-5 col-sm-11">
      <h4 style="color: #800000">🌹<i class="fas fa-user"></i>User Profile🌹</h4>
        <span class="box font-weight-bold">
          <%= image_tag @user.get_profile_image, size: "80x80", class:"rounded-circle" %>
          ︎<%= link_to "︎フォロー︎", user_followings_path(@user.id) %> <small><%= @user.followings.count %></small>&emsp;
          ︎<%= link_to "︎フォロワー︎", user_followers_path(@user.id) %> <small> <%= @user.followers.count %></small>&emsp;
          <% if @user == current_user %>
            ︎<%= link_to "いいね️", favorites_users_path %>
            <small> <%= @user.favorites.count %></small>
          <% end %>
          </br>
          <span>
            <%= @user.last_name %><%= @user.first_name %>&emsp;
            <% if current_user != @user%>
              <% if current_user.following?(@user) %>
                <%= link_to "フォロー外す", user_relationships_path(@user.id), method: :delete, class: "btn btn-danger" %>
              <% else %>
                <%= link_to "フォローする", user_relationships_path(@user.id), method: :post, class: "btn btn-info" %>
              <% end %>
            <% end %>
          </span>
          <br>
          <span>
            <% if @user.introduction %>
              <%= safe_join(@user.introduction.split("\n"),tag(:br)) %>
            <% end %>
          </span>
          <br>
        </span>

        <% if @user == current_user %>
          <%= link_to edit_user_path(current_user) do %>
            <i class="fas fa-user-edit" style="color: #00bb85"></i>
            <small style="color: #00bb85">編集</small>
          <% end %>
        <% end %>

        </br>
        </br>
        <% if @user == current_user %>
          <h4 style="color: #800000">🌹NewPost🌹</h4>
           <%= form_with model: @new_post_image, url: '/post_images', method: :post  do |f| %>

             <table class="table table-border">
              <tr>
                <td style="font-size:12px">投稿画像</td>
                <td style="font-size:12px"><%= f.file_field :image, accept: "image/*" %></td>
              </tr>
              <tr>
                <td style="font-size:12px ">タイトル</td>
                <td style="font-size:12px"><%= f.text_field :title, placeholder: "タイトル", :size=>"20"%></td>
              </tr>
              <tr>
                <td style="font-size:12px">投稿文</td>
                <td style="font-size:12px"><%= f.text_area :caption, placeholder: "投稿文", :size=>"40x7" %></td>
              </tr>
              <tr>
                <td><%= f.submit "投稿", class: "btn btn-primary" %></td>
                <td>
                  <%= f.label :is_published_flag, "非公開", value: true %>
                  <%= f.radio_button :is_published_flag, 'true' %>
                  <%= f.label :is_published_flag, "公開", value: false %>
                  <%= f.radio_button :is_published_flag,'false' %>
                </td>
              </tr>
          </table>
        <% end %>
      <% end %>
    </div>

    <div class="col-md-7 col-sm-11">
      <h4 style="color: #800000">🌹︎User PostList🌹︎</h4>

      <div class="post_images-wrap">
        <% @post_images.each do |post_image| %>
          <span class="post_images-box1 font-weight-bold">
          <%= link_to post_image_path(post_image.id) do %>
            <%= image_tag post_image.get_image, size: "250x150" %>
          <% end %>
          </br>
          &emsp;
          <% if post_image.favorited_by?(current_user) %>
            <%= link_to post_image_favorites_path(post_image), method: :delete do %>
              ❤️<small><%= post_image.favorites.count %></small>
            <% end %>
          <% else %>
            <%= link_to post_image_favorites_path(post_image), method: :post do %>
              ♡<small><%= post_image.favorites.count %></small>
            <% end %>
          <% end %>
          <%= link_to post_image_path(post_image.id) do %>
            💬<small><%= post_image.post_comments.count %></small>
          <% end %>
          👀<small><%= post_image.view_counts.count %></small>
          <% if @user == current_user %>
            <small>
              <% if post_image.is_published_flag == false %>
                公開中
              <% else %>
                非公開
              <% end %>
            </small>
          <% end %>
          <div class="post_images-comment">
            <span class="post_image-body", style="font-size:12px"><%= post_image.created_at.strftime("%Y/%m/%d") %></span><br>
            <span class="post_image-body"><%= post_image.title %></span><br>
            <span class="post_image-body", style="font-size:12px"><%= post_image.caption %></span><br>
          </div>
        </span>
      <% end %>
     </div>
    </div>
  </div>
</div>