<br>
<div class="container">
  <div class="row">
    <h4  style="color: #800000">🌹︎Item List🌹︎</h4>&emsp;<%= link_to "<ItemList",root_path %>︎</h4>
    </br>
    <div class="item-wrap">
      <% @items.each do |item| %>
        <span class="item-box1 font-weight-bold">
          <%= link_to item_path(item.id) do %>
            <%= image_tag item.get_image(150,150) %>
          <% end %>
          <div class="item-comment">
            <span class="item-body", style="font-size:15px"><%= item.created_at.strftime('%Y/%m/%d') %></span><br>
            <span class="item-body", style="font-size:15px"><%= item.name %></span><br>
            <span class="item-body", style="font-size:12px"><%= item.introduction %></span><br>
            <span class="item-body", style="font-size:12px">¥<%= item.add_tax_price.to_s(:delimited) %>（税込）</span>
          </div>
        </span>
      <% end %>
    </div>
  </div>
</div>